{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="container mt-5">
  <h3>📬 Contact Queries</h3>
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Message</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for msg in messages %}
      <tr>
        <td>{{ msg.name }}</td>
        <td>{{ msg.email }}</td>
        <td>{{ msg.subject }}</td>
        <td>{{ msg.message }}</td>
        <td>{{ msg.submitted_at|naturaltime }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
